Web scrapping with python - dynamic pages  
https://stackoverflow.com/questions/63963164/something-wrong-on-web-scrapping-using-beautifulsoup

In [2]:
from selenium import webdriver
import pandas as pd

In [20]:
URL = 'https://www.google.com/search?q=Tabela+do+Campeonato+Brasileiro+de+Futebol&oq=Tabela+do+Campeonato+Brasileiro+de+Futebol&aqs=chrome..69i57.241j0j1&sourceid=chrome&ie=UTF-8#sie=lg;/g/11fmzksb3y;2;/m/0fnk7q;st;fp;1;;'
#webdriver and get data from dynamic page
dr = webdriver.Chrome(executable_path=r'C:/bin/chromedriver.exe')
dr.get(URL)
#get table data by xpath
data = dr.find_element_by_css_selector('#rso').get_attribute('outerHTML')
dr.close()

In [25]:
#get data as dataframe
raw = pd.read_html(data)[0]
#organize retrieved columns
labels = raw.columns.values[1:11]
table = raw[labels]
#delete excess column
del table['Club']
table.columns = labels[:-1] #ignore the last value

In [26]:
table

               Club  MP  W  D  L  GF  GA  GD  Pts
0     Internacional  10  6  2  2  15   6   9   20
1  Atlético Mineiro   9  6  0  3  14   9   5   18
2         São Paulo  10  5  3  2  13  11   2   18
3     Vasco da Gama   9  5  2  2  15   9   6   17
4          Flamengo  10  5  2  3  13  13   0   17